.wrapper{
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-auto-rows:minmax(100px, auto);
    grid-gap:1em;
    justify-items:stretch;
    align-items:stretch;
    background-image: url("../images/ch.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box1{
    /*align-self:start;*/
    grid-column:1/3;
    grid-row:1/3;
    background-image: url("..images/caricature-scientist-albert-einstein-w.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}    

.box2{
    /*align-self:end;*/
    grid-column:3;
    grid-row:1/3;
    background-image: url("../images/en.jpeg");
}

.box3{
    /*justify-self:end;*/
    grid-column:2/4;
    grid-row:2/4;
    /* background-image: url("../images/cbv.png"); */
    background: darkcyan;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 150px;
    align-content: center;
}

.box4{
    grid-column:1;
    grid-row:2/4;
    border:1px solid #333;
    background-image: url("../images/fg.png");
    background: steelblue;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    /* grid-area: span; */

}

.trivia-display {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: 70%;
  }
  h1 {
    font: font-family: 'PT Sans', sans-serif;
    font-size: 4em;
    color: white;
    text-decoration: underline;
    font-family: serif;
    text-shadow: 2px 2px 5px black;
    animation: titleColor 7s infinite;
  }
  h3.game-info {
    color: #dddddd;
    font-family: ;
    letter-spacing: 1.5px;
    line-height: 40px;
    font: font-family: 'Merriweather', serif;
  }
  .questions {
    color: white;
    text-align: center;
    font-size: 1.2em;
  }
  .start-btn {
    background-color: #dddddd;
    font-size: 2em;
    padding: 5px 5px;
    color: rgb(185, 185, 185);
    width: 250px;
    height: 70px;
    margin-top: 100px;
    margin-bottom: 250px;
    text-shadow: 0px 2px 4px black;
    border-radius: 5px;
    border: 2px solid #bababa;
  }
  .done-btn {
    background-color: #898989da;
    font-size: 2em;
    padding: 5px 5px;
    color: rgb(138, 172, 251);
    width: 250px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-shadow: 0px 2px 4px black;
    border-radius: 5px;
    border: 2px solid #bababa;
  }
  
  
  /* .check-with-label:checked + .label-for-check {
    animation: titleColor 7s infinite;
    box-shadow:0 0 5px 0px orange inset;
  }
  @keyframes titleColor {
  5%   {color: red;}
  15%  {color: orange;}
  25%  {color: yellow;}
  35%  {color: green;}
  50%  {color: blue;}
  75%  {color: #d442f4;}
  90%  {color: #f44186;}
  } */
  button:hover {
    background-color: #bababa;
  }
  .all-done {
    margin-bottom: 230px;
    margin-top: 210px;
  }